{% extends 'sidebar.html' %}

{% load staticfiles %}

{% block pageContent %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>Add/Edit Ticket</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br/>
                        <form method="POST" data-parsley-validate class="form-horizontal form-label-left" novalidate
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Error -->
                            {% if error %}
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label class="text-danger">{{ error }}</label>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- /Error -->
                            <!-- Message -->
                            {% if message %}
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label class="text-success">{{ message }}</label>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- /Message -->
                            {% if ticket_form %}
                                {% if ticket_form.instance.id %}
                                    <!-- Ticket ID -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Ticket ID</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label class="form-control col-md-7 col-xs-12">
                                                {{ ticket_form.instance.id }}
                                            </label>
                                        </div>
                                    </div>
                                    <!-- /Ticket ID -->
                                {% endif %}
                                <!-- PhoneNumber -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_phone_number">
                                        Phone Number
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ ticket_form.phone_number }}
                                    </div>
                                </div>
                                <!-- /PhoneNumber -->
                                <!-- Toilet -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_toilet">Toilet
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ ticket_form.toilet }}
                                    </div>
                                </div>
                                <!-- /Toilet -->
                                <!-- ProblemType -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_problem_category">Problem Type
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ ticket_form.problem_category }}
                                    </div>
                                </div>
                                <!-- /ProblemType -->
                                <!-- Problem -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_problem">Problem
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ ticket_form.problem }}
                                    </div>
                                </div>
                                <!-- /Problem -->
                                <!-- Provider -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_provider">Provider
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ ticket_form.provider }}
                                    </div>
                                </div>
                                <!-- /Provider -->
                                <!-- Provider Remarks -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_provider_remarks">Provider Remarks
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ ticket_form.provider_remarks }}
                                    </div>
                                </div>
                                <!-- /Provider Remarks -->
                                <!-- User Remarks -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_user_remarks">User Remarks
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ ticket_form.user_remarks }}
                                    </div>
                                </div>
                                <!-- /User Remarks -->
                                <!-- Manager Remarks -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_manager_remarks">Manager Remarks
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ ticket_form.manager_remarks }}
                                    </div>
                                </div>
                                <!-- /Manager Remarks -->
                                <!-- Status -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_toilet">Status
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ ticket_form.status }}
                                    </div>
                                </div>
                                <!-- /Status -->
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <a href="{% url 'dashboard' %}" class="btn btn-primary">Cancel</a>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}

{% block jsLinks %}
    <!-- validation -->
    <script src="{% static "vendors/parsleyjs/dist/parsley.min.js" %}"></script>
    <!-- /validation -->
    <script type="text/javascript">
    $(document).ready(function() {
        $('#id_problem_category').change(function() {
            var selected_category = $(this).prop('value');
            var selected = false;
            var check_string = 'Type ' + selected_category;
            if(selected_category == '')
                check_string = 'Type X';
            $('#id_problem option').each(function() {
                $(this)[0].selected = false;
                if($(this).text().indexOf(check_string) != -1) {
                    $(this).show();
                    if(!selected) {
                        $(this)[0].selected = true;
                        selected = true;
                    }
                } else {
                    $(this).hide();
                }
            });
        });
    });
    </script>
{% endblock %}
