{% extends 'sidebar.html' %}

{% load staticfiles %}

{% block pageContent %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>Add Provider</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br/>
                        <form method="POST" data-parsley-validate class="form-horizontal form-label-left" novalidate
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Error -->
                            {% if error %}
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label class="text-danger">{{ error }}</label>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- /Error -->
                            <!-- First Name -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_first_name">First Name
                                            <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="id_first_name" name="first_name" required="required"
                                           class="form-control col-md-7 col-xs-12"{% if first_name %} value="{{ first_name }}"{% endif %}>
                                </div>
                            </div>
                            <!-- /First Name -->
                            <!-- Last Name -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_last_name">Last Name
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="id_last_name" name="last_name" class="form-control
                                            col-md-7 col-xs-12"{% if last_name %} value="{{ last_name }}"{% endif %}>
                                </div>
                            </div>
                            <!-- /Last Name -->
                            <!-- Username -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_username">Username
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                {% if username %}
                                    <input type="text" disabled="disabled" class="form-control col-md-7 col-xs-12" value="{{ username }}">
                                    <input type="hidden" name="username" value="{{ username }}">
                                {% else %}
                                    <input type="text" id="id_username" name="username" required="required"
                                           class="form-control col-md-7 col-xs-12">
                                {% endif %}
                                </div>
                            </div>
                            <!-- /Username -->
                            <!-- Password -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_password">Password
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="password" id="id_password" name="password"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <!-- /Password -->
                            <!-- ProviderID -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_provider_id">Provider ID
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                {% if provider_id %}
                                    <input type="text" disabled="disabled" class="form-control col-md-7 col-xs-12" value="{{ provider_id }}">
                                    <input type="hidden" name="provider_id" value="{{ provider_id }}">
                                {% else %}
                                    <input type="text" id="id_provider_id" name="provider_id" required="required"
                                           class="form-control col-md-7 col-xs-12">
                                {% endif %}
                                </div>
                            </div>
                            <!-- /ProviderID -->
                            <!-- PinCode -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_pin_code">PIN
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="password" id="id_pin_code" name="pin_code" required="required"
                                           class="form-control col-md-7 col-xs-12"{% if pin_code %} value="{{ pin_code }}"{% endif %}>
                                </div>
                            </div>
                            <!-- /PinCode -->
                            <!-- Description -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_description">Description
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ provider_form.description }}
                                </div>
                            </div>
                            <!-- /Description -->
                            <!-- Email -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_email">Email</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" id="id_email" name="email"
                                           class="form-control col-md-7 col-xs-12"{% if email %} value="{{ email }}"{% endif %}>
                                </div>
                            </div>
                            <!-- /Email -->
                            <!-- PhoneNumber -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                       for="id_phone_number">Phone Number <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ user_profile_form.phone_number }}
                                </div>
                            </div>
                            <!-- /PhoneNumber -->
                            <!-- Manager -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                       for="id_manager">Manager <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ provider_form.manager }}
                                </div>
                            </div>
                            <!-- /Manager -->
                            <!-- Toilets -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_toilets">Toilets
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ provider_form.toilets }}
                                </div>
                            </div>
                            <!-- /Toilets -->
                            <!-- Problems -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_problems">Problems
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ provider_form.problems }}
                                </div>
                            </div>
                            <!-- /Problems -->
                            <!-- Address -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_address">Address
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ user_profile_form.address }}
                                </div>
                            </div>
                            <!-- /Address -->
                            <!-- Profile_Picture -->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                       for="id_picture">Profile Picture
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ user_profile_form.picture }}
                                </div>
                            </div>
                            <!-- /Profile_Picture -->
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="{% url 'view_providers' %}" class="btn btn-primary">Cancel</a>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}

{% block jsLinks %}
    <!-- validation -->
    <script src="{% static "vendors/parsleyjs/dist/parsley.min.js" %}"></script>
    <!-- /validation -->
{% endblock %}
