{% extends 'sidebar.html' %}

{% load staticfiles %}

{% block cssLinks %}
    <link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
{% endblock %}

{% block pageContent %}
    <!-- page content -->

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{{ user.user.first_name }} {{ user.user.last_name }}</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="col-md-10 col-sm-9 col-xs-12">
                                <!-- page content -->
                                <div>

                                    <div class="">
                                        <div class="page-title">
                                            <div class="title_left"><h3>Tickets</h3></div>

                                            <div class="title_right">
                                                <div class="pull-right">
                                                    <a class="btn btn-round btn-primary"
                                                       href="/reporting/report_problem/">
                                                        Report Problem &nbsp;<span class="glyphicon glyphicon-plus"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="x_panel">
                                                    <div class="x_content">
                                                        <!-- start project list -->
                                                        <table class="table table-striped projects" style="color:#4D4D4D;font-weight:bold;font-size:12px">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" style="vertical-align:middle;">Ticket ID</th>
                                                                    <th class="text-center" style="vertical-align:middle;">Created Date</th>
                                                                    <th class="text-center" style="vertical-align:middle;">Toilet Address</th>
                                                                    <th class="text-center" style="vertical-align:middle;">Problem</th>
                                                                    <th class="text-center" style="vertical-align:middle;">Complaints</th>
                                                                    <th class="text-center" style="vertical-align:middle;">Recording</th>
                                                                    <th class="text-center" style="vertical-align:middle;">Provider Recording</th>
                                                                    <th class="text-center" style="vertical-align:middle;">Status</th>
                                                                    <th class="text-center" style="vertical-align:middle;">Provider</th>
                                                                    <th class="text-center" style="vertical-align:middle;">Manager</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for ticket in tickets %}
                                                                <tr>
                                                                    <td class="text-center" style="vertical-align:middle;">
                                                                        <a href="
                                                                        {% url 'report_problem_ticket' ticket.id %}"
                                                                        >{{ ticket.id }}</a>
                                                                    </td>
                                                                    <td class="text-center" style="vertical-align:middle;">
                                                                        <a href="
                                                                        {% url 'report_problem_ticket' ticket.id %}">
                                                                            {{ ticket.timestamp | date:"d.m.Y, h:i A" }}
                                                                        </a>
                                                                    </td>
                                                                    <td class="text-center" style="vertical-align:middle;">
                                                                        {{ ticket.toilet.address }}
                                                                    </td>
                                                                    <td class="text-center" style="vertical-align:middle;">
                                                                        {% if ticket.problem.description != 'others' %}
                                                                        {{ ticket.problem.description }}
                                                                        {%else%}
                                                                        {{ ticket.problem.category.description }}
                                                                        {%endif%}
                                                                    </td>
                                                                    <td class="text-center" style="vertical-align:middle;">
                                                                        <a href="
                                                                        {% url 'complaints' ticket.id %}">
                                                                            {{ ticket.complaints }}
                                                                        </a>
                                                                    </td>
                                                                    <td class="text-center" style="vertical-align:middle;">
                                                                        {% if ticket.is_audio_present %}
                                                                        <a href="/media/ticket_audio_files/ticket_{{ ticket.id }}_audio.mp3">
                                                                        <span class="glyphicon glyphicon-download"
                                                                              style="font-size: 25px"/>
                                                                        </a>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td class="text-center" style="vertical-align:middle;">
                                                                        {% if ticket.is_provider_audio_present %}
                                                                        <a href="/media/ticket_audio_files/ticket_{{ ticket.id }}_provider_audio.mp3">
                                                                        <span class="glyphicon glyphicon-download"
                                                                              style="font-size: 25px"/>
                                                                        </a>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td class="text-center" style="vertical-align:middle;">
                                                                        <a href="
                                                                        {% url 'report_problem_ticket' ticket.id %}">
                                                                        {% if ticket.status == 0 %}
                                                                            <button type="button"
                                                                                    class="btn btn-danger btn-xs">Unresolved
                                                                            </button>
                                                                        {% elif ticket.status == 1 %}
                                                                            <button type="button"
                                                                                    class="btn btn-success btn-xs">Resolved
                                                                            </button>
                                                                        {% elif ticket.status == 2 %}
                                                                            <button type="button"
                                                                                    class="btn btn-muted btn-xs">Cannot Fix
                                                                            </button>
                                                                        {% elif ticket.status == 3 %}
                                                                            <button type="button"
                                                                                    class="btn btn-warning btn-xs">Escalated
                                                                            </button>
                                                                        {% endif %}
                                                                        </a>
                                                                    </td>
                                                                    <td class="text-center" style="vertical-align:middle;">
                                                                    {% if ticket.provider %}
                                                                        <a href="{% url 'view_provider' ticket.provider.provider_id %}" >
                                                                        {{ ticket.provider.user_profile.user.first_name }} {{ ticket.provider.user_profile.user.last_name }}
                                                                        </a>
                                                                    {% else %}
                                                                        Not Assigned
                                                                    {% endif %}
                                                                    </td>
                                                                    <td class="text-center" style="vertical-align:middle;">
                                                                    {% if ticket.provider %}
                                                                        <a href="{% url 'view_manager' ticket.provider.manager.manager_id %}" ">
                                                                        {{ ticket.provider.manager.user_profile.user.first_name }} {{ ticket.provider.manager.user_profile.user.last_name }}
                                                                        </a>
                                                                    {% else %}
                                                                        Not Assigned
                                                                    {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        <!-- end project list -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- /page content -->
                            </div>

                            <!-- start project-detail sidebar -->
                            <div class="col-md-2 col-sm-3 col-xs-12">

                                <section class="panel">

                                    <div class="x_title">
                                        <h2 style="padding-bottom: 7px; padding-top: 4px; width: 100%;"
                                            class="text-center">User Profile</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <img style="border-radius: 20px; max-height: 150px; max-width: 100%;"
                                                     src="/media/{{ user.picture }}"/>
                                            </div>

                                            <br/>
                                            <div class="col-md-12 text-center">
                                                <div class="project_detail">
                                                    <p class="title">Phone Number</p>
                                                    <p>{{ user.phone_number }}</p>
                                                    <p class="title">Address</p>
                                                    <p>{{ user.address }}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <br/>
                                    </div>

                                </section>
                                <section>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-center tile-stats">
                                                <div class="count text-success" style="font-size:30px;">{{ resolved_tickets }}</div>
                                                <h4 style="margin-left:10px;"><span class="text-success"><b>Resolved</b></span></h3>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-center tile-stats">
                                                <div class="count text-danger" style="font-size:30px;">{{ unresolved_tickets }}</div>
                                                <h4 style="margin-left:10px;"><span class="text-danger"><b>Unresolved</b></span></h3>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-center tile-stats">
                                                <div class="count text-warning" style="font-size:30px;">{{ escalated_tickets }}</div>
                                                <h4 style="margin-left:10px;"><span class="text-warning"><b>Escalated</b></span></h3>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-center tile-stats">
                                                <div class="count text-muted" style="font-size:30px;">{{ cannot_fix_tickets }}</div>
                                                <h4 style="margin-left:10px;"><span class="text-muted"><b>Cannot Fix</b></span></h3>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-center tile-stats">
                                                <div class="count text-primary" style="font-size:30px;">{{ total_tickets }}</div>
                                                <h4 style="margin-left:10px;"><span class="text-primary"><b>Total</b></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </div>
                            <!-- end project-detail sidebar -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}

{% block jsLinks %}
    <!-- FastClick -->
    <script src="{% static "vendors/fastclick/lib/fastclick.js" %}"></script>
    <!-- NProgress -->
    <script src="{% static "vendors/nprogress/nprogress.js" %}"></script>
{% endblock %}
