{% extends 'sidebar.html' %}

{% load staticfiles %}

{% block cssLinks %}
    <link href="{% static "vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
{% endblock %}

{% block jsLinks %}
    <script src="{% static "vendors/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-buttons/js/buttons.flash.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-buttons/js/buttons.print.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-keytable/js/dataTables.keyTable.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
    <script src="{% static "vendors/datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
    <script src="{% static "vendors/jszip/dist/jszip.min.js" %}"></script>
    <script src="{% static "vendors/pdfmake/build/pdfmake.min.js" %}"></script>
    <script src="{% static "vendors/pdfmake/build/vfs_fonts.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable();
        });
    </script>
{% endblock %}

{% block pageContent %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div>
            <div class="page-title">
                <div class="title_left">
                    <h3>Toilets</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center"></div>
                                <div class="clearfix"></div>

                                <div class="x_panel">
                                    <div class="x_title">
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Settings 1</a>
                                                    </li>
                                                    <li><a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <table id="datatable" class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Toilet ID</th>
                                                <th>Address</th>
                                                <th>Male/Female</th>
                                                <th>Paid/Free</th>
                                                <th>Area</th>
                                                <th>Type</th>
                                                <th>Location Code</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for toilet in toilets %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ toilet.toilet_id }}</td>
                                                <td>{{ toilet.address }}</td>
                                                <td>
                                                    {% if toilet.sex == 'B' %}
                                                    Both
                                                    {% elif toilet.sex == 'M' %}
                                                    Male
                                                    {% elif toilet.sex == 'F' %}
                                                    Female
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if toilet.payment == 'P' %}
                                                    Paid
                                                    {% elif toilet.payment == 'F' %}
                                                    Free
                                                    {% elif toilet.payment == 'B' %}
                                                    Both (Pay + No Pay)
                                                    {% elif toilet.payment == 'H' %}
                                                    Household Contribution
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if toilet.area == 'R' %}
                                                    Rural
                                                    {% elif toilet.area == 'U' %}
                                                    Urban
                                                    {% elif toilet.area == 'PU' %}
                                                    Peri Urban
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if toilet.type == 'C' %}
                                                    Community
                                                    {% elif toilet.type == 'P' %}
                                                    Public
                                                    {% elif toilet.type == 'S' %}
                                                    School
                                                    {% endif %}
                                                </td>
                                                <td>{{ toilet.location_code }}</td>
                                                <td>
                                                    <a class="btn btn-primary btn-xs"
                                                       href="{% url 'edit_toilet' toilet.toilet_id %}">
                                                       Edit
                                                    </a>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-xs"
                                                            data-toggle="modal"
                                                            data-target="#myModal{{ toilet.id }}">
                                                        Delete
                                                    </button>
                                                    <div id="myModal{{ toilet.id }}" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title text-danger">Delete
                                                                        Toilet</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p class="text-danger">Are you sure to delete this
                                                                        toilet?</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a type="button" class="btn btn-danger"
                                                                       href="{% url 'delete_toilet' toilet.toilet_id %}">
                                                                       Delete
                                                                    </a>
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}

