{% extends 'sidebar.html' %}

{% block pageContent %}
    <!-- page content -->
    <div class="right_col" role="main">

        <div>
            <div class="page-title">
                <div class="title_left">
                    <h3>Managers</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center"></div>
                                <div class="clearfix"></div>

                                {% for manager in managers %}
                                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                        <div class="well profile_view">
                                            <div class="col-sm-12">
                                                <div class="left col-xs-7">
                                                    <h2>{{ manager.user_profile.user.first_name }}
                                                        {{ manager.user_profile.user.last_name }}</h2>
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-building"></i> Address:</li>
                                                        {{ manager.user_profile.address }}
                                                        <li><i class="fa fa-phone"></i> Phone #:</li>
                                                        {{ manager.user_profile.phone_number }}
                                                    </ul>
                                                </div>
                                                <div class="right col-xs-5 text-center">
                                                    <img width="100%" src="/media/{{ manager.user_profile.picture }}"
                                                         alt="profile picture" class="profile_image"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 bottom text-center">
                                                <div class="col-xs-12 col-sm-6 emphasis">
                                                    <a href="/administration/view_manager/{{ manager.pk }}/"
                                                       type="button"
                                                       class="btn btn-primary btn-xs pull-left">
                                                        <i class="fa fa-user"> </i> View
                                                    </a>
                                                    <button type="button" class="btn btn-success btn-xs pull-left">
                                                        <i class="fa fa-comments-o"></i> Message
                                                    </button>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 emphasis">
                                                    <button type="button" class="btn btn-danger pull-right btn-xs"
                                                            data-toggle="modal"
                                                            data-target="#myModal{{ manager.id }}">
                                                        Delete
                                                    </button>
                                                    <div id="myModal{{ manager.id }}" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title text-danger">Delete Manager</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p class="text-danger">Are you sure to delete this
                                                                        manager?</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a type="button" class="btn btn-danger"
                                                                       href="{% url 'delete_manager' manager.id %}">
                                                                        Delete
                                                                    </a>
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}

