{% extends 'root.html' %}

{% block sidebarMenu %}
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/dashboard/">Dashboard</a>
                        </li>
                    </ul>
                </li>
                {% if user.type == 'A' %}
                <li><a><i class="fa fa-user"></i> Managers <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/administration/view_managers/">View</a>
                        </li>
                        <li><a href="/administration/add_manager/">Add</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if user.type == 'A' or user.type == 'M' %}
                <li><a><i class="fa fa-users"></i> Providers <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/administration/view_providers/">View</a>
                        </li>
                        <li><a href="/administration/add_provider/">Add</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li><a><i class="fa fa-building"></i> Toilets <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/administration/view_toilets/">View</a>
                        </li>
                        {% if user.type == 'A' or user.type == 'M' %}
                            <li><a href="/administration/add_toilet/">Add</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                {% if user.type == 'A' %}
                <li><a><i class="fa fa-warning"></i> Problems <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="index.html">View</a>
                        </li>
                        <li><a href="index2.html">Add</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
{% endblock %}

{% block topNav %}
    <!-- top navigation -->

    <div class="top_nav">

        <div class="nav_menu">
            <nav class="" role="navigation">
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="false">{{ user.user.first_name }} {{ user.user.last_name }}
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a href="javascript:;"> Profile</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="badge bg-red pull-right">50%</span>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">Help</a>
                            </li>
                            <li><a href="/logout/"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- /top navigation -->
{% endblock %}
